<div class="cntainr">
	
	<div class="borderImg"
			data-aos="zoom-in-down"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">
     			<div class="img"></div>
     		</div>
	<div class="title">About Us</div>
	<div class="txt"
			data-aos="zoom-in-down"
			data-aos-offset="250"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">Edu Weekend was started in 2021 by friends who looked for solution for students who where missing out on completing their Senior School Certificate Examinations
	<br>
	The company was founded by three friends who looked towards the future of Africa, looking for solution for the future generation to not be let behind by unforseen circumstances eg. insurgency and banditry         
	<br>
	Our platform service is made possible by volunteers who invest their time in facilitating course offered on Edu Weekend, the platform provides a way to incentivise volunteers</div>
</div>