<div class="yellow-top-bar"></div>
<nav class="navbar">
    
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="#" class="logo"><img src="../../../assets/logo.png" alt="" srcset=""></a>
    
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="#" class="nav-links">Home</a>
        </li>
        <li>
            <a href="#" class="nav-links">About Us</a>
        </li>
        <li>
            <a href="#" class="nav-links">Services</a>
        </li>
    </ul>
    <a href="#" class="nav-button"><div class="login-button">Login</div></a>
</nav>